div.container {
    text-align: center;
    background: #fff1f0;
}

.error-icon {
    width: 40vw;
    height: 40vw;
}

.error-text {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    word-spacing: 2px;
}
h3 {
    font-weight: bold;
}