<div class="container" padding>

    <ion-icon name="desktop" class="error-icon"></ion-icon>

  <div>
    <ion-text text-center class="error-text">500 Internal Servor Error</ion-text>  
  </div>

  <ion-card color="light">
    <ion-card-content>
      <ion-text text-left color="danger" class="error-back">
        <h2 >Sorry , Something went wrong on our end.
          We are currently trying to fix the problem</h2>
      </ion-text>
      <ion-text  text-left margin color="dark">
          <h3>
              In the mean time , You can try
          </h3>
      </ion-text>
        <ion-item>
          <ion-icon name="refresh"></ion-icon>
          <ion-text> Try Refreshing This Page</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="time"></ion-icon>
          <ion-text> Wait a few Minutes</ion-text>
        </ion-item>
    </ion-card-content>
  </ion-card>

</div>