
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
        </ion-button>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-checkbox color="primary"></ion-checkbox>
      </ion-col>
      <ion-col>
        Arabian
        </ion-col>
  </ion-row>
  <ion-row>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-row>
    <ion-row>
        <ion-checkbox color="danger"></ion-checkbox>
      </ion-row>
      <ion-row>
          <ion-checkbox color="light"></ion-checkbox>
        </ion-row>
  </ion-grid>
