<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/images/tick4.gif"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" text-center>
          <ion-label class="font-bold">
            Order Placed for : &#8364;{{total}}
          </ion-label>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="dismiss()">Order More
            <ion-icon name="arrow-forward" class="arrow"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>