<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon name="power" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 <app-profile-details [profile]=profile [store]=s></app-profile-details>
  <ion-segment color="shade" (ionChange)="segmentChanged($event)" scrollable="true" value="history">
    <ion-segment-button value="history">
      <ion-label color="primary">History</ion-label>
    </ion-segment-button>
    <ion-segment-button value="frequently odered">
      <ion-label color="primary">Frequently Ordered</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <ion-card *ngIf="'history' === currentSubPage || 'frequently odered'  === currentSubPage"> -->

      <ion-item lines="full" class="order" *ngFor="let order of orders" margin>
        <div slot="end" *ngIf="stores[order.storeId] != null">
            <ion-img 
            [src]="'data:' + stores[order.storeId].imageContentType + ';base64,' + stores[order.storeId].image"
            class="mainImg"></ion-img>  
        </div>
        <ion-text slot="start">
          <p><b>Date :</b> {{order.date}}</p>
          <p><b>Order id :</b> {{order.orderId}}</p>
          <p><b>Product Name :</b> </p>
          <p><b>Delivered On :</b><p> </p>
          <p  *ngIf="stores[order.storeId] != null"><b>Store Name : </b>{{stores[order.storeId].name}}</p>
        </ion-text>
      </ion-item>       

    <ion-infinite-scroll (ionInfinite)="loadMoreOrders($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>