
p{
    margin: 0%;
}

.h30 {

  height: 30vh;
}

ion-icon[name='close-circle'] {
  width: 40vw;
  height: 40vw;
  margin: auto;
  display: block;
  margin-top: 3vh;
  color: grey;
}


.reviewProfile{
    display: block;
    border-radius: 51%;
    width: 12%;
    margin: 2vw;
    height: 12%;
  }
  .commentText{
    margin-left: 18%;
  }
  .cardHeaderCustom{
    background-color: #efeeee;
  }

.ion-color-vibrant {
    --ion-color-base:  #efeeee;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e0e000;
    --ion-color-tint: #ffff1a;
  }
  .font2{
    text-align: center;
    font-size: 50px;
}
.imageShow{
    position: relative;
    left: 0%;
    top: 0%;
    height: 106px;
    width: 145px;
  } 

  ion-item ion-img {
    width: 20vw;
    height: 20vw;
    padding: 3vw;
  }
  ion-text * {
    margin: 0px;
    color: grey;
  }

  .profileImage{
    
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;

}

.hidden {
  display: none;
}

.profileImgContainer {
  padding: 20px 0px 6px 0px;
}
img {

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 3vw;
    margin-left: 53%;
    margin-right: 0px;
}

.editButton{
    margin-left: 69%;

}