<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
       <ion-button><ion-icon name="person" slot="icon-only"></ion-icon></ion-button>
       <ion-title>Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
       <ion-button (click)="presentAlert()" >
           <ion-icon name="power" slot="icon-only"></ion-icon>
       </ion-button>
       <ion-button>
           <ion-icon name="notifications" slot="icon-only"></ion-icon>
       </ion-button>
    </ion-buttons>
     </ion-toolbar>
   </ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-card-subtitle *ngIf="profile"  slot="start" slot="start"><strong>{{profile.preferred_username | uppercase}}</strong>
            </ion-card-subtitle>
           
          <img src="assets/images/user.png" slot="end" class="img"/>
        </ion-item>
        <ion-item>
            <ion-card-subtitle size="3" slot="start" slot="start">{{profile.email}}</ion-card-subtitle>
            <ion-button class="editButton">edit</ion-button>
        </ion-item>
      </ion-card>

      <ion-segment color="shade" (ionChange)="segmentChanged($event)" scrollable="true" value="history">
          <ion-segment-button value="history">
            <ion-label color="primary">History</ion-label>
          </ion-segment-button>
          <ion-segment-button value="reviews">
            <ion-label color="primary">Reviews</ion-label>
          </ion-segment-button>
          <ion-segment-button value="frequently odered">
              <ion-label color="primary">Frequently Odered</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-row *ngIf="'reviews' === currentSubPage">
            <ion-col>
                <ion-card>
                    <ion-item lines="none" color="vibrant">
                    <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                    <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                    </ion-card-subtitle> 
                    </ion-item>
                    <ion-item lines="none"> 
                        <ion-card-subtitle class="commentText">
                            the food is awsome you need to try once 
                        </ion-card-subtitle>
                    </ion-item>
                </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="'reviews' === currentSubPage">
              <ion-col>
                  <ion-card>
                      <ion-item lines="none" color="vibrant">
                      <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                      <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                      </ion-card-subtitle> 
                      </ion-item>
                      <ion-item lines="none"> 
                          <ion-card-subtitle class="commentText">
                              the food is awsome you need to try once 
                          </ion-card-subtitle>
                      </ion-item>
                  </ion-card>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="'reviews' === currentSubPage"> 
                <ion-col>
                    <ion-card>
                        <ion-item lines="none" color="vibrant">
                        <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                        <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                        </ion-card-subtitle> 
                        </ion-item>
                        <ion-item lines="none"> 
                            <ion-card-subtitle class="commentText">
                                the food is awsome you need to try once 
                            </ion-card-subtitle>
                        </ion-item>
                    </ion-card>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="'reviews' === currentSubPage">
                  <ion-col>
                      <ion-card>
                          <ion-item lines="none" color="vibrant">
                          <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                          <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                          </ion-card-subtitle> 
                          </ion-item>
                          <ion-item lines="none"> 
                              <ion-card-subtitle class="commentText">
                                  the food is awsome you need to try once 
                              </ion-card-subtitle>
                          </ion-item>
                      </ion-card>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="'reviews' === currentSubPage">
                    <ion-col>
                        <ion-card>
                            <ion-item lines="none" color="vibrant">
                            <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                            <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                            </ion-card-subtitle> 
                            </ion-item>
                            <ion-item lines="none"> 
                                <ion-card-subtitle class="commentText">
                                    the food is awsome you need to try once 
                                </ion-card-subtitle>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="'reviews' === currentSubPage">
                      <ion-col>
                          <ion-card>
                              <ion-item lines="none" color="vibrant">
                              <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                              <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                              </ion-card-subtitle> 
                              </ion-item>
                              <ion-item lines="none"> 
                                  <ion-card-subtitle class="commentText">
                                      the food is awsome you need to try once 
                                  </ion-card-subtitle>
                              </ion-item>
                          </ion-card>
                      </ion-col>
                    </ion-row>
                    <ion-card *ngIf="'history' === currentSubPage || 'frequently odered'  === currentSubPage">
                        <ion-item lines="none">
                          <ion-img src="/assets/images/pizza.jpg" class="imageShow">
                          </ion-img>
                          <ion-card-content>
                            <ion-card-title>Pizza</ion-card-title>
                            <ion-text><strong>100Rs</strong></ion-text>
                          </ion-card-content>
                        </ion-item>
                      </ion-card>
                      <ion-card *ngIf="'history' === currentSubPage || 'frequently odered'  === currentSubPage"> 
                  
                        <ion-item lines="none">
                          <ion-img src="/assets/images/fry.jpg" class="imageShow">
                          </ion-img>
                          <ion-card-content>
                            <ion-card-title>Fry</ion-card-title>
                            <ion-text><strong>100Rs</strong></ion-text>
                          </ion-card-content>
                        </ion-item>
                      </ion-card>
                  
                      <ion-card *ngIf="'history' === currentSubPage || 'frequently odered'  === currentSubPage">
                        <ion-item lines="none">
                          <ion-img src="/assets/images/icecream.jpg" class="imageShow">
                          </ion-img>
                          <ion-card-content>
                            <ion-card-title>Ice cream</ion-card-title>
                  
                            <ion-text><strong>100Rs</strong></ion-text>
                          </ion-card-content>
                        </ion-item>
                      </ion-card>
                      <ion-card *ngIf="'history' === currentSubPage || 'frequently odered'  === currentSubPage">
                  
                        <ion-item lines="none">
                          <ion-img src="/assets/images/frutsalad.jpg" class="imageShow">
                          </ion-img>
                          <ion-card-content>
                            <ion-card-title>Frut flower</ion-card-title>
                            <ion-text><strong>100Rs</strong></ion-text>
                          </ion-card-content>
                        </ion-item>
                      </ion-card>
  </ion-content>
