<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button><ion-icon name="locate" ></ion-icon></ion-button>
      <ion-title text-left>
          Location
           </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
      <ion-searchbar></ion-searchbar>
      <ion-button color="light" (click)="presentFilterModal()">
      <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card (click)="showHotelMenu()"> 
        <ion-item lines="none">
          <ion-img src="/assets/images/pizza.jpg" class="imageShow">
            </ion-img>
        <ion-card-content>
            <ion-card-title>Pizza</ion-card-title>
            <ion-card-subtitle>white stand</ion-card-subtitle>
          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
      </ion-card>
      <ion-card (click)="showHotelMenu()">
             
        <ion-item lines="none">
          <ion-img src="/assets/images/fry.jpg" class="imageShow">
            </ion-img>
        <ion-card-content>
            <ion-card-title>Fry</ion-card-title>
            <ion-card-subtitle>white stand</ion-card-subtitle>      
          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
      </ion-card>

      <ion-card (click)="showHotelMenu()">
             
          <ion-item lines="none">
            <ion-img src="/assets/images/icecream.jpg" class="imageShow">
              </ion-img>
          <ion-card-content>
              <ion-card-title>Ice cream</ion-card-title>
              <ion-card-subtitle>white stand</ion-card-subtitle>      
            <ion-text><strong>100Rs</strong></ion-text>
          </ion-card-content>
        </ion-item>
        </ion-card>
        <ion-card (click)="showHotelMenu()">
             
            <ion-item lines="none">
              <ion-img src="/assets/images/frutsalad.jpg" class="imageShow">
                </ion-img>
            <ion-card-content>
                <ion-card-title>Frut flower</ion-card-title>
                <ion-card-subtitle>white stand</ion-card-subtitle>      
              <ion-text><strong>100Rs</strong></ion-text>
            </ion-card-content>
          </ion-item>
          </ion-card>
        
      
</ion-content>
