<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button><ion-icon name="locate" ></ion-icon></ion-button>
      <ion-title text-left>
          Location
           </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
      <ion-searchbar></ion-searchbar>
      <ion-button color="light">
      <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <ion-item lines="none">
          <ion-img src="/assets/images/pizza.jpg" class="imageShow">
            </ion-img>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-item>
      </ion-card>
      
</ion-content>
