<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
          <ion-img src="/assets/images/pizza.jpg" class="imageShow">
          </ion-img>
          <ion-card-content>
            <ion-card-title>Pizza</ion-card-title>
            <ion-text><strong>100Rs</strong></ion-text><br>
            <div>
            <ion-icon name="time" size="small"></ion-icon> <ion-text><strong> 10 m</strong></ion-text>
          </div>
          </ion-card-content>
          <div>
          <ion-button color="primary" expand="block">Oder now</ion-button>
          <ion-button color="secondary" expand="block">Add to cart</ion-button>
        </div>
        </ion-card>
      
         
</ion-content>
