<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>White Stand Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-img src="/assets/images/pizza.jpg" class="mainImg"></ion-img>
      </ion-col>   
    </ion-row>
    <ion-row >
      <ion-col text-center>
        <ion-segment color="shade" (ionChange)="segmentChanged($event)" scrollable="true" text-center value="menu">
            <ion-segment-button value="menu">
              <ion-label color="primary">Menu</ion-label>
            </ion-segment-button>
            <ion-segment-button value="reviews">
              <ion-label color="primary">Reviews</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="'menu' === currentSubPage">
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            veg only
          </ion-label>
          <ion-toggle color="primary"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-card *ngIf="'menu' === currentSubPage" [routerLink]="'product'">
      <ion-item lines="none">
        <ion-img src="/assets/images/pizza.jpg" class="imageShow">
        </ion-img>
        <ion-card-content>
          <ion-card-title>Pizza</ion-card-title>
          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="'menu' === currentSubPage" [routerLink]="'product'"> 

      <ion-item lines="none">
        <ion-img src="/assets/images/fry.jpg" class="imageShow">
        </ion-img>
        <ion-card-content>
          <ion-card-title>Fry</ion-card-title>
          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="'menu' === currentSubPage" [routerLink]="'product'"> 
      <ion-item lines="none">
        <ion-img src="/assets/images/icecream.jpg" class="imageShow">
        </ion-img>
        <ion-card-content>
          <ion-card-title>Ice cream</ion-card-title>

          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="'menu' === currentSubPage" [routerLink]="'product'">

      <ion-item lines="none">
        <ion-img src="/assets/images/frutsalad.jpg" class="imageShow">
        </ion-img>
        <ion-card-content>
          <ion-card-title>Frut flower</ion-card-title>
          <ion-text><strong>100Rs</strong></ion-text>
        </ion-card-content>
      </ion-item>
    </ion-card>
    <ion-row *ngIf="'reviews' === currentSubPage">
        <ion-col>
            <ion-card>
                <ion-item lines="none" color="vibrant">
                <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                  <rating></rating>
                </ion-card-subtitle> 
              </ion-item>
              <ion-item lines="none"> 
                <ion-card-subtitle class="commentText">
                  <ion-textarea placeholder="Add your review..."></ion-textarea>
                    </ion-card-subtitle>
                  <ion-icon class="cursor" name="paper-plane"></ion-icon>
                </ion-item>
            </ion-card>
          </ion-col>
      </ion-row>
    <ion-row *ngIf="'reviews' === currentSubPage">
        <ion-col>
            <ion-card>
                <ion-item lines="none" color="vibrant">
                <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                  <rating [rate]="4" [readonly]="true"></rating>
                </ion-card-subtitle> 
              </ion-item>
              <ion-item lines="none"> 
                <ion-card-subtitle class="commentText">
                  the food is awsome you need to try once 
                    </ion-card-subtitle>
                </ion-item>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="'reviews' === currentSubPage">
        <ion-col>
          <ion-card>
            <ion-item lines="none" color="vibrant">
                  <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                  <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                    <rating [rate]="5" [readonly]="true"></rating>
                  </ion-card-subtitle> 
                </ion-item>
                <ion-item lines="none"> 
                  <ion-card-subtitle class="commentText">
                    the food is awsome you need to try once 
                  </ion-card-subtitle>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="'reviews' === currentSubPage"> 
            <ion-col>
              <ion-card>
                <ion-item lines="none" color="vibrant">
                  <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                  <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                    <rating [rate]="5" [readonly]="true"></rating>
                  </ion-card-subtitle> 
                </ion-item>
                    <ion-item lines="none"> 
                      <ion-card-subtitle class="commentText">
                            the food is awsome you need to try once 
                        </ion-card-subtitle>
                    </ion-item>
                </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="'reviews' === currentSubPage">
              <ion-col>
                <ion-card>
                  <ion-item lines="none" color="vibrant">
                    <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                    <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                      <rating [rate]="4" [readonly]="true"></rating>
                    </ion-card-subtitle> 
                  </ion-item>
                      <ion-item lines="none"> 
                          <ion-card-subtitle class="commentText">
                              the food is awsome you need to try once 
                          </ion-card-subtitle>
                        </ion-item>
                  </ion-card>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="'reviews' === currentSubPage">
                <ion-col>
                  <ion-card>
                        <ion-item lines="none" color="vibrant">
                          <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                        <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                          <rating [rate]="3" [readonly]="true"></rating>
                        </ion-card-subtitle> 
                      </ion-item>
                        <ion-item lines="none"> 
                            <ion-card-subtitle class="commentText">
                                the food is awsome you need to try once 
                            </ion-card-subtitle>
                          </ion-item>
                    </ion-card>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="'reviews' === currentSubPage">
                  <ion-col>
                      <ion-card>
                        <ion-item lines="none" color="vibrant">
                          <img src="assets/images/toney.jpg" slot="start" class="reviewProfile"/>
                          <ion-card-subtitle slot="start"><strong>Tony Stark</strong>
                            <rating [rate]="2" [readonly]="true"></rating>
                          </ion-card-subtitle> 
                          </ion-item>
                          <ion-item lines="none"> 
                              <ion-card-subtitle class="commentText">
                                  the food is awsome you need to try once 
                              </ion-card-subtitle>
                          </ion-item>
                      </ion-card>
                  </ion-col>
                </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="'menu' === currentSubPage">
    <ion-fab-button (click)=presentPopover($event)>
      <ion-icon name="pizza"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>