<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{store.name | uppercase}}</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Search products..." (ionChange)="searchProducts($event)"></ion-searchbar>
</ion-header>
<ion-content *ngIf="store">
  <div class="container">
    <ion-img [src]="'data:' + store.imageContentType + ';base64,' + store.image" class="mainImg"></ion-img>
    <div class="overlay">
      <h2><strong>{{store.name | uppercase}}</strong></h2>
      <p>{{store.openingTime.slice(11,16) + ' to ' + store.closingTime.slice(11,16)}}</p>
      <!-- <p>{{store.}}</p> -->
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-segment color="shade" [value]="currentSubPage" (ionChange)="segmentChanged($event)" scrollable="true"
          text-center value="menu">
          <ion-segment-button value="menu">
            <ion-label color="primary">Menu</ion-label>
          </ion-segment-button>
          <ion-segment-button value="reviews">
            <ion-label color="primary">Reviews</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="'menu' === currentSubPage">
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            veg only
          </ion-label>
          <ion-toggle color="primary"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-slides #slides (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <div>
        <ion-card *ngFor="let stock of stockCurrents,let i = index">
          <ion-item lines="none" (click)="expandOrCollapse(i)">
            <ion-img [src]="'data:' + stock.product.imageContentType + ';base64,' + stock.product.image"
              class="imageShow">
            </ion-img>
            <ion-card-content>
              <ion-card-title>{{stock.product.name}}</ion-card-title>
              <ion-text><strong>&#x20b9;{{stock.sellPrice}}</strong></ion-text>
            </ion-card-content>
          </ion-item>
          <ion-button  *ngIf="cardExpand[i]" color="primary" expand="full" (click)="addToCart(stock)" >
            Add to Basket
          </ion-button>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-item lines="none" color="cyan">
                <img src="assets/images/user.png" slot="start" class="reviewProfile" />
                <ion-card-subtitle *ngIf="usr"  slot="start"><strong>{{usr.preferred_username | uppercase}}</strong>
                  <rating [rate]="rate.rating" (rateChange)="updateRating($event)"></rating>
                </ion-card-subtitle>
              </ion-item>
              <ion-item lines="none">
                <ion-card-subtitle class="commentText">
                  <ion-textarea [(ngModel)]="review.review" placeholder="Add your review..."></ion-textarea>
                </ion-card-subtitle>
                <ion-icon class="cursor" name="paper-plane" (click)="postReview()"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card *ngFor="let raterev of rateReview">
              <ion-item lines="none" color="vibrant">
                <img src="assets/images/user.png" slot="start" class="reviewProfile" />
                <ion-card-subtitle slot="start"><strong>{{raterev.review.userName | uppercase}}</strong>
                  <rating [rate]="raterev.rating.rating" [readonly]="true"></rating>
                </ion-card-subtitle>
              </ion-item>
              <ion-item lines="none">
                <ion-card-subtitle class="commentText">{{raterev.review.review}}</ion-card-subtitle>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="'menu' === currentSubPage">
    <ion-fab-button (click)="presentPopover($event)">
      <ion-icon name="pizza"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>