.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  ion-icon {
    font-size: 20px; //Preferred size here
  }
  .imageShow{
    position: relative;
    left: 0%;
    top: 0%;
    height: 106px;
    width: 145px;
  }

  rating {
    ion-icon {
      color: gray;
  
      &.filled {
        color: #ffb400;
      }
    }
  }