<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="locate" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title>Location</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-searchbar placeholder="Search restaurants..." (ionChange)='search($event)'></ion-searchbar>
    <ion-button color="light" (click)="presentFilterModal()">
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card *ngFor="let store of stores" >
    <ion-item lines="none">
      <ion-img *ngIf="store.image" [src]="'data:' + store.imageContentType + ';base64,' + store.image" class="imageShow">
      </ion-img>
      <ion-card-content (click)="showHotelMenu(store.regNo)">
        <ion-card-title *ngIf="store.name">{{store.name}}</ion-card-title>
        <ion-card-subtitle *ngIf="store.openingTime">{{store.openingTime.slice(11,16) + ' to ' + store.closingTime.slice(11,16)}}</ion-card-subtitle>
        <ion-text><strong>500m</strong></ion-text>
      </ion-card-content>
    </ion-item>
    <rating [rate]="store.totalRating" [readonly]="true" (rateChange)="rateChange($event)"></rating>
  </ion-card>
</ion-content>