// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.vertical-align-center {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


ion-modal.half-height {

    &.bottom {
    align-items: flex-end;
    }
    
    
    
        .modal-wrapper {
            position: absolute;
            bottom: 0%;
            height: 40vh;
        }
    
    
    .ion-page {
        position: relative;
        display: block;
        contain: content;
        .inner-content {
        max-height: 40vh;
        overflow: auto;
        padding: 10px;
        }
    }
}

.toast {
    align-content: center;
    text-align: center;
}