<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" >
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-bottom>
  <ion-grid margin-top>
    <ion-row>
      <ion-col>
        <ion-icon class="large-icon" name="person"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" align-self-center offset="1" offset-md="3" size="10">
        <ion-item  class="item-inner" >
          <ion-label color="medium" position="floating">Username or Email</ion-label>
          <ion-input background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Passsword</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="danger" expand="block" margin-top margin-bottom>Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>